<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' https: localhost:*; 
                script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; 
                connect-src https: localhost:* ws://localhost:*; 
                style-src 'unsafe-inline' https: localhost:*; 
                object-src 'none'; 
                worker-src 'self' https: localhost:*;">
  <meta name="importmap-type" use-injector />

  <!-- Shared dependencies go into this import map -->
  <script type="injector-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@6.0.3/lib/es2015/esm/single-spa.min.js",
        "react": "https://ga.jspm.io/npm:react@18.3.1/index.js",
        "react-dom": "https://ga.jspm.io/npm:react-dom@18.3.1/index.js"
      },
      "scopes": {
        "https://ga.jspm.io/": {
          "scheduler": "https://ga.jspm.io/npm:scheduler@0.23.2/index.js"
        }
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@6.0.3/lib/es2015/esm/single-spa.min.js" as="module">

  <!-- Svelte Material UI 기본 스타일 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/svelte-material-ui@7.0.0/bare.min.css" />

  <!-- Quasar 기본 스타일 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quasar@2.15.1/dist/quasar.min.css">
  <!-- Quasar 아이콘 세트 (material-icons) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@quasar/extras/material-icons/material-icons.css">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="injector-importmap" src="/importmap.json"></script> -->

  <script type="injector-importmap" src="<%= importMapPath %>"></script>
  
  <% if (isLocal) { %>
    <script type="injector-importmap">
      {
        "imports": {
          "@pickme/root-config": "//localhost:9000/pickme-root-config.js",
          "@pickme/style-guide": "//localhost:9001/pickme-style-guide.js",
          "@pickme/nav": "//localhost:4101/nav/application.js",
          "@pickme/record": "//localhost:4102/record/application.js",
          "@pickme/report": "//localhost:4103/report/application.js",
          "@pickme/review": "//localhost:4104/review/application.js",
          "@pickme/calendar": "//localhost:4105/calendar/application.js",
          "@pickme/chat": "//localhost:4106/chat/application.js",
          "@pickme/reminder": "//localhost:4202/reminder/parcel.js"
        }
      }
    </script>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@4.1.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@single-spa/import-map-injector@1.1.0/lib/import-map-injector.js"></script>

  <style>
    body {
      background-color: var(--pickme-bg-light);
    }
    @media (prefers-color-scheme: dark) {
      body {
        background-color: var(--pickme-bg-dark);
      }
    }
  </style>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    window.importMapInjector.initPromise.then(() => {
      import('@pickme/root-config');

      import('@pickme/style-guide').then(module => module.get('./global'));
    });
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
